<b class="container">
  <div style="background-color: blue">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
    excepturi similique error. Cupiditate velit quibusdam ut in, excepturi
    distinctio, nihil beatae dicta dolorem incidunt nobis quos. Commodi vel
    sequi corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Nostrum at ipsum itaque esse, accusamus sapiente ad fugiat odio consectetur.
    Quisquam, labore nisi odio sit est eveniet ratione nemo ut ipsam.
  </div>
  <div style="background-color: red">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
    excepturi similique error. Cupiditate velit quibusdam ut in, excepturi
    distinctio, nihil beatae dicta dolorem incidunt nobis quos. Commodi vel
    sequi corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Nostrum at ipsum itaque esse, accusamus sapiente ad fugiat odio consectetur.
    Quisquam, labore nisi odio sit est eveniet ratione nemo ut ipsam. Lorem
    ipsum, dolor sit amet consectetur adipisicing elit. Voluptate excepturi
    similique error. Cupiditate velit quibusdam ut in, excepturi distinctio,
    nihil beatae dicta dolorem incidunt nobis quos. Commodi vel sequi corrupti?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum at ipsum
    itaque esse, accusamus sapiente ad fugiat odio consectetur. Quisquam, labore
    nisi odio sit est eveniet ratione nemo ut ipsam.
  </div>
  <div style="background-color: green"></div>
  <div style="background-color: orange"></div>
  <div style="background-color: cyan"></div>
</b>
